.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $screen-md) {
    flex-direction: row;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin-left: 1.2em;
    margin-right: 1.2em;

    @media (min-width: $screen-md) {
      margin-right: 0;
      margin-left: 1.6em;
      margin-top: 1.2em;
      margin-bottom: 1.2em;
    }
    @media (min-width: $screen-lg) {
      margin-top: 3em;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    height: 85px;
    overflow: hidden;
    letter-spacing: 0.2px;
    text-align: justify;

    @media (min-width: $screen-md) {
      height: 125px;
    }
    @media (min-width: $screen-lg) {
      height: auto;
    }
  }

  &__picture-container {
    display: flex;
    justify-content: center;
    margin: 1.6em;
    width: 100%;

    @media (min-width: $screen-md) {
      margin-top: 1em;
      height: 208px;
    }
    @media (min-width: $screen-lg) {
      margin-right: 0;
      margin-left: 2em;
      height: 280px;
    }
  }

  &__picture {
    object-fit: contain;
    @media (min-width: $screen-md) {
      border-radius: 6px;
    }
  }
}
