.brands {
  &__title-container {
    border-top: 1px solid #d9fff5;
    background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
  }

  &__title {
    padding: 1.2em;
  }

  &__button {
    display: none;
    padding: 0.8em 0 1em 1.2em;

    @media (min-width: $screen-md) {
      display: flex;
    }
  }
}

div.brands__swiper {
  @media (min-width: $screen-md) {
    max-height: 210px;
    transition: max-height 2s;
  }
  @media (min-width: $screen-xl) {
    max-height: 888px;
  }

  .swiper-slide {
    width: auto;
    @media (min-width: $screen-md) {
      height: 82px;
    }
  }

  .brands-item__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 82px;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    padding: 16px;
  }

  .brands-item__button {
    width: 40px;
    height: 40px;
    border: 2px solid #ff3e79;
    border-radius: 20px;
  }
}
