.additionally {
  margin-top: 3em;
  padding: 1em;
  border-top: 1px solid #d9fff5;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $screen-md) {
    flex-direction: row;
    align-items: flex-start;
    padding: 2em;
  }

  &__text {
    color: #7e7e82;
    opacity: 72.18%;
    font-size: 0.9em;
  }

  &__link {
    color: #7e7e82;
    opacity: 72.18%;
    font-size: 0.9em;
    text-align: center;
    margin: 1em 0;
    @media (min-width: $screen-md) {
      margin: 0;
      flex-grow: 2;
    }
  }

  &__creators {
    display: flex;
    flex-direction: column;
    text-align: center;
    @media (min-width: $screen-md) {
      text-align: start;
      flex-grow: 1;
    }
  }

  &__offer {
    text-align: center;
    @media (min-width: $screen-md) {
      text-align: end;
      width: 30%;
    }
  }
}
