.prices {
  &__title-container {
    border-top: 1px solid #d9fff5;
    background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
  }

  &__title {
    padding: 1.2em;
  }

  &__list-title {
    display: none;
    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
      margin-top: 2em;
    }
  }

  &__button {
    display: none;
    padding: 0.8em 0 1em 1.2em;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__list-title {
    display: none;
    @media (min-width: $screen-md) {
      margin-left: 3em;
      margin-right: 4.5em;
      display: flex;

      h3 {
        width: 110px;
        padding-right: 1em;
      }

      h3:nth-child(4) {
        visibility: hidden;
      }

      h3:nth-child(1) {
        width: 330px;
        max-width: 330px;
      }
    }
  }
}

.prices-item__title {
  display: flex;
  font-size: 1em;
  color: #7e7e82;
  opacity: 0, 72;
}

.prices__swiper {
  @media (min-width: $screen-md) {
    margin: 16px 32px;
    border-radius: 6px;
  }

  .swiper-slide {
    display: inline-block;
    width: auto;

    @media (min-width: $screen-md) {
      display: block;
      width: 100%;
      border-bottom: 1px solid #eaeaea;

      &:hover {
        opacity: 1;
      }
    }
  }

  .swiper-wrapper {
    gap: 0;
    @media (min-width: $screen-md) {
      background-color: white;
      padding: 0 16px;
    }

    li:last-child {
      border-bottom: none;
    }
  }

  .prices-item {
    &__block {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 260px;
      height: 200px;
      border-radius: 6px;
      padding: 16px;

      @media (min-width: $screen-md) {
        flex-direction: row;
        width: 100%;
        padding: 23px 0;
        height: 100%;
        justify-content: space-between;
        align-items: center;

        li:nth-child(2) {
          width: 330px;
          max-width: 330px;
        }
      }
    }

    &__title {
      @media (min-width: $screen-md) {
        display: none;
      }
    }

    &__text {
      flex-grow: 1;

      @media (min-width: $screen-md) {
        max-width: 110px;
        padding-right: 1em;
      }
    }

    &__button-container {
      position: absolute;
      right: 16px;
      bottom: 16px;
      display: flex;

      @media (min-width: $screen-md) {
        position: relative;
        bottom: 0;
        right: 0;
        align-items: center;
      }
    }

    &__button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-grow: 1;
      background-color: #ff3e79;
      width: 120px;
      height: 32px;
      border-radius: 16px;
      transition: 0.5s;

      &:hover {
        opacity: 0.7;
      }
    }

    &__button-text {
      text-transform: uppercase;
      color: white;
      font-weight: 600;
      font-size: 0.86em;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: -0.15px;
    }
  }
}
